body {
    font-family: sans-serif;
}
 
header {
    background-color: #000080;
    
}

h1 {

    color: cornflowerblue;
    text-align: center;
    
}



footer p {
    background-color: green;
}

nav a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid navy;
    border-radius: 10px;
    background-color: navy;
    
}
.a{
    background-color: white;
    color: blue;
}

nav {
    border: 3px solid grey;
}

.bonusi{
    background-color: lightgreen;
}

.headeri{
    font-size: 20px;
    color: blue;
}

.paragrafi{
    font-size: 20px;
}

